<html>
<head>
    <title>Exams</title>
</head>
<body>
<h1>Exams</h1>
<table id="exams">
    <thead>
    <tr>
        <td>Course</td>
        <td>Exam</td>
    </tr>
    </thead>
    <tbody>
    {{#exams}}
        <tr>
            <td>{{ course.code }}</td>
            <td>{{ code }}</td>
        </tr>
    {{/exams}}
    </tbody>
</table>
</body>
</html>
