<html>
<head>
    <title>Exams</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6/dist/ext/sse.js">
        // <script src="https://unpkg.com/htmx.org/dist/ext/sse.js">
    </script>
</head>
<body>
<h1>Latest Event</h1>
<div hx-ext="sse" sse-connect="/view/events/sse" sse-swap="sse event - mvc">
  Event Id will appear here
</div>
</body>
</html>
