<!--
<li>{{#raw}}{{ id }} - {{#date}}{{ dt }}{{/date}}{{/raw}}</li>
-->
<!--
<li>{{#raw}}{{ event.id }} - {{#date}}{{ event.dt }}{{/date}}{{/raw}}</li>
-->
<!--
<li>{{#raw}}{{ event.id }} - {{ event.dt }}{{/raw}}</li>
-->
<li>{{#raw}}{{ event.id }} - {{date event.dt }}{{/raw}}</li>
